body {
    margin: 0;
    !important
}

.nav {
    display: flex;
    list-style-type: none;
    margin-top: 0;
    padding-top: 0;
}

.header{
    height: 45px;
    background-color: #242424;
}

.header-nav li {
    flex: 0 0 auto;
}

.logo {
    color: #57c5a0;
    margin-left: 15%;
    margin-right: auto;
}

.search-container {
    width: 24px;
}

.search-container img {
    width: 100%;
    height: auto;
}

.nav-bar {
    margin-top: 0;
    margin-left:15%;
}

.nav-bar li {
    margin-top: 0;
    padding: 20px 30px 20px 0;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}