body {
    margin: 0;
    !important
}

.nav {
    display: flex;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
}

.header {
    height: 45px;
    background-color: #242424;
}

.header li {
    flex: 0 0 auto;
}

.logo {
    color: #57c5a0;
    margin-left: 15%;
    margin-right: auto;
}

.login {
    display: flex;
    margin-right: 15%;
}

.search-container {
    width: 24px;
}

.search-container img {
    width: 100%;
    height: auto;
}

.nav-bar {
    margin-top: 0;
    margin-left: 15%;
}

.nav-bar li {
    margin-top: 0;
    padding: 20px 30px 20px 0;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}

.landing-img {
    width: 100%;
    height: 400px;
    margin: 0;
    background-image: url('https://images.unsplash.com/photo-1489987707025-afc232f7ea0f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b17958c40e777065643cb65954bede79&auto=format&fit=crop&w=1050&q=80');
    background-size: cover;
}

.landing-img p {
    margin: 0;
    font-weight: bold;
    font-size: 550%;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    text-align: center;
    vertical-align: middle;
    line-height: 400px;
}

.categories {
    flex-direction: row;
    width: 100%;
    height: 50px;
}

.categories li {
    
}

.categories img {
    width: 30%;
    height: 30%;
}